#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  width: 100%;
}

.app-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  width: 100%;
}

.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}