#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  width: 100%;
}

.app-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  width: 100%;
}

.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.icon-button:not(button) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--bg-text-color);
  width: 25px;
}

button.icon-button {
  background: none;
  padding: 0;
}

/* .icon-button:hover {
  background: rgba(0, 0, 0, 0.08);
} */

.project-title-row {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 30px 0;
}

.editing-title {
  font-size: 2em;
  background-color: #e9e9e9;
  border-radius: 8px;
  color: #383838;
  padding: 8px;
  border: 1px solid grey;
}

.delete-button {
  background-color: rgb(142, 19, 19);
}