.site-header {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    background: var(--bg-color);
}

.header-inner {
    margin: 0 auto;
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.header-left {
    flex: 0 0 auto;
}

.header-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.header-right {
    flex: 0 0 auto;
    display: flex;
    gap: 12px;
}

#site-title {
    margin: 0;
    font-size: 1.5em;
}

.logout-button {
    padding: 0;
}